@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;

html {
    font-family: 'Raleway', sans-serif;
}

body {
    animation: colorChange 5s infinite;
}

.active {
    border-bottom: 2px solid #ebae13;
    font-weight: bold;
}

.content-div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@tailwind components;
@tailwind utilities;